html,body{
  margin: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuadro-princial{
  border: 1px solid red;
  width: 350px;
  height: 400px;
  position: relative;
  top: 70px;
  display: flex;
  justify-content: center;
}
